/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.navbar-brand {
  color: #fcbd20;
}

.nav-item a {
  color: #fdcc52;
  transition: all .35s !important;
}

.nav-item a:hover, a:focus {
  color: #fcbd20 !important;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}


/* Navigation section */

.navbar {
  padding-top: 30px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
color: white !important;
text-align: center;
font-family: Catamaran;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.63px;
}
  

/* Hero section */

.masthead {
  background-image: url("../images/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -90px !important;
  height: 1080px;
}

.hero-row {
  display: flex;
  justify-content: space-between;

}

.device-container {
  text-align: center;
}

#hero-image {
  max-width: 386px;
  max-height: 686px;
  margin-top: 110px;
}

.hero-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 600px;
  height: 477px;
  margin-top: 200px;
}

.hero-text h1 {
  color: #FFF;
  font-family: Catamaran;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.5%; /* 69.7px */
}


.masthead {
  margin-top: 50px;
}


/* Download section */

.download {
  background: #FDC949;
}

.badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.badges img {
  margin: 5px 10px;
}

/* Testimonials Section */

.card {
  border: none;
}


.card img {
  border-radius: 267px;
  max-width: 335px;
  max-height: 335px;
}

/* Call to Action section */

.signup-section {
  background: url("../images/sf.png") ;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-text {
  margin-bottom: 40px;
}

.subscribe-btn {
  margin-left: 10px;
  border-radius: 30px;
  width: 200px;
}

.singup-form {
  height: 70px;
}


/* Contact section  */

 .contact h4, .contact p {
  color: black;
  font-size: 22px;
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 265px;
}

.email-link {
  color: blue !important;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  width: 300px;
}

.fa-brands {
  padding: 10px;
  margin-top: 30px;
}

/* Footer section */

.footer {
  background-color: grey;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.footer p {
  color: white;
  margin: 0;
}


/* Media queries */
